.container{
    text-align: center;
    
}

.button{
    background-color: red;
    color: white;
}

input{
    width: 200px;
    margin: 30px;
}

.home {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: medium;
    align-items: center;
    text-decoration: none;
    
  }